bitcoin_monitor_workflow.json
{
  "name": "Bitcoin Price Monitor - 3 Year Low Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "e76844ba-e34e-4ca1-a61e-a4104248388b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vs_currency",
              "value": "usd"
            },
            {
              "name": "days",
              "value": "364"
            },
            {
              "name": "interval",
              "value": "daily"
            }
          ]
        },
        "options": {}
      },
      "id": "1ec9c66c-23d2-45b8-8104-b919e05044e3",
      "name": "Get 3 Year Bitcoin History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados históricos de preço\nconst prices = $input.item.json.prices;\n\n// Calcular o preço mínimo dos últimos 3 anos\nconst minPrice = Math.min(...prices.map(p => p[1]));\n\n// Calcular preço médio\nconst avgPrice = prices.reduce((sum, p) => sum + p[1], 0) / prices.length;\n\n// Preço atual (último da lista)\nconst currentPrice = prices[prices.length - 1][1];\n\n// Calcular margem de proximidade (10% acima do mínimo)\nconst threshold = minPrice * 1.17;\n\n// Verificar se está próximo do mínimo\nconst isNearMin = currentPrice <= threshold;\n\n// Calcular % de distância do mínimo\nconst percentAboveMin = ((currentPrice - minPrice) / minPrice * 100).toFixed(2);\n\nreturn {\n  json: {\n    currentPrice: currentPrice.toFixed(2),\n    minPrice3Years: minPrice.toFixed(2),\n    avgPrice3Years: avgPrice.toFixed(2),\n    threshold: threshold.toFixed(2),\n    isNearMin: isNearMin,\n    percentAboveMin: percentAboveMin,\n    timestamp: new Date().toISOString(),\n    alertMessage: isNearMin ? \n      `🚨 ALERTA: Bitcoin está ${percentAboveMin}% acima do mínimo de 3 anos!` : \n      `✅ Bitcoin está ${percentAboveMin}% acima do mínimo de 3 anos.`\n  }\n};"
      },
      "id": "23789041-1756-4b35-a093-48922ca90490",
      "name": "Analyze Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isNearMin }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5dcc26f6-152a-4690-8195-0d0875981723",
      "name": "IF Near Minimum?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "+5511948445809"
            },
            {
              "name": "text",
              "value": "={{ $json.alertMessage }}%0A%0APreço Atual: ${{ $json.currentPrice }}%0AMínimo 3 anos: ${{ $json.minPrice3Years }}%0AMédia 3 anos: ${{ $json.avgPrice3Years }}%0A%0A{{ $json.timestamp }}"
            },
            {
              "name": "apikey",
              "value": "SEU_API_KEY_CALLMEBOT"
            }
          ]
        },
        "options": {}
      },
      "id": "934a58d0-1a4d-4009-a04f-dbe3255e9cdf",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        288,
        224
      ]
    },
    {
      "parameters": {
        "sendTo": "victormolicovillela@hotmail.com",
        "subject": "🚨 Alerta: Bitcoin próximo do mínimo de 3 anos!",
        "message": "🚨 Alerta: Bitcoin próximo do mínimo de 3 anos!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -48
      ],
      "id": "8a57a1e0-d4b5-40c8-9ed3-9e6fe12769ee",
      "name": "Send a message",
      "webhookId": "eb4550b9-17fe-48bb-9804-2878a510738a",
      "credentials": {
        "gmailOAuth2": {
          "id": "3B2WH7DJWBi9Jsnb",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get 3 Year Bitcoin History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 3 Year Bitcoin History": {
      "main": [
        [
          {
            "node": "Analyze Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Price Data": {
      "main": [
        [
          {
            "node": "IF Near Minimum?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Near Minimum?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c4af0d6-6f7e-4695-b169-f5e5c44dc208",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6c7f1f4a4b3b1c595b7a644ce8a35ad15990887258d59310676a4a2e608a34f3"
  },
  "id": "alSIOPBrmWIqlyMu",
  "tags": []
}